@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TELE-MEDICINE</h1>
    <img src ="https://thumbs.dreamstime.com/b/telemedicine-concept-doctor-gp-computer-screen-office-desk-background-online-medical-care-stethoscope-laptop-169357845.jpg"/>
</div>
